.firstdiv{
  display: flex;
  height: 100%;
}
.childdiv{
width: 50%;
height: 50%;
color: white;
 background-color: red;
  border: 5px solid black;
    
}

.childdiv:nth-of-type(2){
background-image:url("../"C:\Users\rgg\Pictures\Screenshots\Screenshot 2025-07-10 164609.png");
  

  
}
