body {
  margin:0;
}
.header {
  width: 100%;
  height: 10%;
  background-color: white;
  display:flex;
}
.logo  {
  width:25% ;
  background-color: pink;
}
.logo a{
width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  
}
.logo a img{
  width: auto;
  height: auto;
}

.menu {
width: 75%;
  display:flex;
  background-color: black;
  
}
.menu .menubar{
height:100%;
  width: 100%;
}

.menu .menubar ul{
height:100%;
  width:100%;
  display:flex;
  aligh-items:center:
  justify-content: space-around;
}
.menu ul li{
list-style-type:none;
  color:black;
  

  
}
@media (max-width:576px){
  .header {
    height: 7%;
    background-color: red;
  }
}
