
body {
  margin:0;
}

.header {
  width: 100%;
  height: 10%;
  background-color: blue;
  display:flex;
  position:fixed;

}
.logo  {
  width:25% ;
  background-color: pink;

}
.logo a{
width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  
}
.logo a img{
  width: auto;
  height: auto;
}

.menu {
  position:fixed;
  top:0;
  justify-content:center;
  padding: 20px 0;
width: 100%;
  display:flex;
  background-color: black;
  text-color:blue;
  transform: none !important;

}
.menubar{
  display: flex;
  align-items:center;
  
height: 100%;
  width:100%;

  
}
.menubar ul{
height:100%;
  width:100%;
  display:flex;
  align-items:center;
  justify-content: space-around;
  
}


.menu ul li{
list-style-type:none;
  
  color:black;
  
}
.menu ul li a{
text-decoration: none;
  color: white;
  font-size:min(1.5vw,1.5vw);
  position: fixed;
}
.menu a {
  font-size:1.2rem;
  white-space: nowrap;
}
@media (max-width:576px){
  .header {
    height: 7%;
    background-color: red;
    
  }
}
